/* Roboto Slab font from Google */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;500&display=swap');

/* Configurações iniciais */
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    color: #F19E39;
}

/* Flex para centralizar todo o conteúdo (.center) */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Flex para centralizar todo o conteúdo */
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 50px;
    border: 1px solid #8B1A10;
}

.heading {
    padding: 20px 0;
    width: 100%;
    text-align: center;
    background-color: #8B1A10;
}

.images-boxes {
    border: 1px solid black;
}

#sub {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

#subtitle {
    font-size: 15pt;
    font-weight: 200;
    padding: 0 10px;
}

#subtitle a {
    color: #8B1A10;
}

#subtitle a:hover {
    color: #F19E39;
}

.button {
    padding: 10px;
}

.button #loadBtn {
    user-select: none;
    cursor: pointer;
    padding: 5px;
    color: #8B1A10;
    background-color: white;
    border-color: #8B1A10;
}

.button #loadBtn:hover {
    background-color: #8B1A10;
    color: #F19E39;
}

/* Flex para manipular os figures das imagens */
#display-images {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.image-figure {
    margin: 40px 20px 40px 20px;
}

.image-figure .image {
    margin: 20px 20px 0 20px;
    width: 200px;
    height: 200px;
    padding: 5px;
    border: 2px solid;
    border-radius: 10%;
    /* Mantem a imagem no tamnaho real, sem esticar */
    object-fit: cover;
    object-position: center;
}

.image-figure .caption {
    text-align: center;
}